<html>
    <head>
        <title>New message of the contact section of www.gamehedge.com</title>
    </head>
    <body>
        <p><strong>Message details:</strong></p>
        <br/>
        <p><strong>Name: </strong><%= @name %></p>
        <p><strong>Email: </strong><%= @email %></p>
        <p><strong>Message: </strong><%= @message %></p>
    </body>
</html>