<html>
    <head>
        <title>New request for receive updates and deals of www.gamehedge.com</title>
    </head>
    <body>
        <p><strong>Details:</strong></p>
        <br/>
        <p><strong>Email: </strong><%= @email %></p>
    </body>
</html>