<section id="home">
    <section id="hero">
        <div id="shader"></div>
        <div id="wrapper">
          <div id="content">
            <div class="container">
              <p class="hidden-md hidden-lg hidden-xl">Every Ticket Comes With Our Good Game Guarantee!</p>
              <div id="hero-search">
                <form id="form-home-search" name="formSearch" onsubmit="function(){return false;};">
                  <input type="hidden" name="type" value="full" />
                  <div class="form-group">
                    <img src="/assets/search icon-56b3353c01350d9f9bc021ab9af81ae9a587a37afa1c7281dc7795ac43ce361f.png" ng-click="goToSearch()">
                    <input id="search_element" type="text" class="form-control" placeholder="Search by team, league, game, stadium or player..." ng-model="searchTerm" uib-typeahead="hint as hint.name for hint in getSearchHints($viewValue)" typeahead-template-url="typeahead/bind-node.html" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" typeahead-on-select="onSelect($item, $model, $label)" typeahead-no-results="noResults">
                     <div class="no-results" ng-show="noResults && searchTerm != ''">
                      No results. Please try again
                    </div>
                  </div>
                </form>
              </div>
              
            </div>
            <div class="press-images hidden-xs hidden-sm">
              <div class="container">
                <div class="spacing-div">AS FEATURED IN</div>
                <div class="spacing-div"><img src="/assets/press2/CNBC copy-2b2be403abbc6bb95a829ac2388795d8ddfc4325f3b38e09e8e49c08a2965efe.png"></div>
                <div class="spacing-div"><img src="/assets/press2/USA Today copy-7ca9ac98902faf3b0212851fbf6c4995fd786b80c1e683f3878c4dab3e74fef3.png"></div>
                <div class="spacing-div"><img src="/assets/press2/Sports Illustrated Red-212c3b8526b282f5b25ef3737fe8cd8bf705ac34e08fe5eacfb3d212a46dddbb.png"></div>
                <div class="spacing-div"><img src="/assets/press2/Yahoo Finance-2b694cc41e54494100fee3dfbbdcf14ece433eeac9edf9ff93c0ffcf92ce31c5.png"></div>
                <div class="spacing-div"><img src="/assets/press2/ESPN Radio copy-a4354c0342ba757f533fad71ade9cfae2d8e22e3145a6905a6c8a0f3fe60711d.png"></div>
              </div>
            </div>
          </div>
        </div>
    </section>
    
    <main id="how_works_container">
        <section id="good-game-guarantee" class="hidden-xs hidden-sm">
          <div class="container">
            <div class="title">Every Ticket Comes With Our Good Game Guarantee!</div>

            <div class="content-background">
              <div class="content">
                <div class="col-md-4 division">
                  <div class="col-xs-5 section">
                    <img src="/assets/icon ticket-a818a977ec378f09ad896d10d6851700a12d2ee1b11bf927ddfe311881571132.png">
                  </div>
                  <div class="col-xs-7 section2">
                    <h2>BUY TICKETS</h2>
                    <p>
                      Find your game and purchase your tickets.<br>
                      Good Game Guarantee included at no additional cost with every ticket.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 division center-div">
                  <div class="col-xs-5 section">
                    <img src="/assets/icon stadium-9fc6cc6f89a776ac09932d8b02992f3b2cb1fed081a61d9d467ed0d4267ef27e.png">
                  </div>
                  <div class="col-xs-7 section2">
                    <h2>ENJOY GAME</h2>
                    <p>
                      If the home team loses by below amount or more, you get 50% of ticket price back.
                    </p>
                    <div class="row">
                      <div class="col-xs-6 block">
                        <img class="icon-img" src="/assets/football icon-32c0cee9577fbb26c18d63551121b0e48d7879df546eece5a79d2a256cfee132.png">
                        17 PTS
                      </div>
                      <div class="col-xs-6 block">
                        <img class="icon-img" src="/assets/basketball icon-c7ac9464d6d28cf24a9ea3951ba9962257becc95373f7b153c7416bcde978757.png">
                        20 PTS
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 block">
                        <img class="icon-img" src="/assets/baseball icon-dfa41b7ee380aa66209415028b794682e08c09906ee4db6077dbe916eae4988e.png">
                        5 RUNS
                      </div>
                      <div class="col-xs-6 block">
                        <img class="icon-img" src="/assets/hockey icon-17eed8c176e978ea20c3499f35134f093ca84411c0cf00177cacf87ad867755a.png">
                        4 GOALS
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 division">
                  <div class="col-xs-5 section">
                    <img src="/assets/icon coin-8c134af3f1e2395025966339537a8a706ec0e1700c1846c8793497a991462461.png">
                  </div>
                  <div class="col-xs-7 section2">
                    <h2>CLAIM MONEY</h2>
                    <p>
                      Simply come back to GameHedge.com to claim your refund.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="good-game-guarantee" class="hidden-md hidden-lg hidden-xl">
          <div class="container">
            <div class="title">Every Ticket Comes With Our Good Game Guarantee!</div>

            <div class="content-background-mobile">
              <div class="content-mobile">
                 <slick settings="slickConfig">

                    <div class="row table-element">
                      <div class="section-mobile table-ele-cell first-ele">
                        <img src="/assets/icon ticket-a818a977ec378f09ad896d10d6851700a12d2ee1b11bf927ddfe311881571132.png">
                      </div>
                      <div class="section2-mobile table-ele-cell second-ele">
                        <h2>BUY TICKETS</h2>
                        <p>
                          Find your game and purchase your tickets.<br>
                          Good Game Guarantee included at no additional cost with every ticket.
                        </p>
                      </div>
                    </div>
                    <div class="row table-element">
                      <div class="section-mobile table-ele-cell first-ele">
                        <img src="/assets/icon stadium-9fc6cc6f89a776ac09932d8b02992f3b2cb1fed081a61d9d467ed0d4267ef27e.png">
                      </div>
                      <div class="section2-mobile table-ele-cell second-ele">
                        <h2>ENJOY GAME</h2>
                        <p>
                          If the home team loses by below amount or more, you get 50% of ticket price back.
                        </p>
                        <div class="row">
                          <div class="fifty-perc block">
                            <img class="icon-img" src="/assets/football icon-32c0cee9577fbb26c18d63551121b0e48d7879df546eece5a79d2a256cfee132.png">
                            <div>17 PTS</div>
                          </div>
                          <div class="fifty-perc block">
                            <img class="icon-img" src="/assets/basketball icon-c7ac9464d6d28cf24a9ea3951ba9962257becc95373f7b153c7416bcde978757.png">
                            <div>20 PTS</div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="fifty-perc block">
                            <img class="icon-img" src="/assets/baseball icon-dfa41b7ee380aa66209415028b794682e08c09906ee4db6077dbe916eae4988e.png">
                            <div>5 RUNS</div>
                          </div>
                          <div class="fifty-perc block">
                            <img class="icon-img" src="/assets/hockey icon-17eed8c176e978ea20c3499f35134f093ca84411c0cf00177cacf87ad867755a.png">
                            <div>4 GOALS</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row table-element">
                      <div class="section-mobile table-ele-cell first-ele">
                        <img src="/assets/icon coin-8c134af3f1e2395025966339537a8a706ec0e1700c1846c8793497a991462461.png">
                      </div>
                      <div class="section2-mobile table-ele-cell second-ele">
                        <h2>CLAIM MONEY</h2>
                        <p>
                          Simply come back to GameHedge.com to claim your refund.
                        </p>
                      </div>
                    </div> 

                </slick>




              </div>
            </div>
          </div>
        </section>
        
        
        <div id="how-works-bottom" class="container">
            
            <hr>
            
            <div class="guarantee row">
                <div class="col-sm-2 col-xs-3 how-works-mobile"><img width="100%" src="/assets/badge-gamehedge-1af14fe710753ca025bdebd1bac9951970631731756d0c84491d1a7af97674aa.png" /></div>
                <div class="col-sm-10 col-xs-9">
                    <h2>Good Game Guarantee&trade;</h2>
                    <p>All GameHedge tickets come with our exclusive Good Game Guarantee at no additional cost to you. So, if the home team loses by 5 runs or more, we will refund 50% of the ticket price. No gimmicks. No catches.</p>
                </div>
            </div>
        </div>
        
    </main>
</section>