<section id="home">
    <section id="hero">
        <div id="shader"></div>
        <div id="wrapper">
          <div id="content">
            <div class="container">
              <p class="hidden-md hidden-lg hidden-xl">Every Ticket Comes With Our Good Game Guarantee!</p>
              <div id="hero-search">
                <form id="form-home-search" name="formSearch" onsubmit="function(){return false;};">
                  <input type="hidden" name="type" value="full" />
                  <div class="form-group">
                    <img src="/assets/search icon-ddc57ae24d1e0b6ebb55f1742da8cca2a6b75cfc1339e507c71d46c821390c82.png" ng-click="goToSearch()">
                    <input id="search_element" type="text" class="form-control" placeholder="Search by team, league, game, stadium or player..." ng-model="searchTerm" uib-typeahead="hint as hint.name for hint in getSearchHints($viewValue)" typeahead-template-url="typeahead/bind-node.html" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" typeahead-on-select="onSelect($item, $model, $label)" typeahead-no-results="noResults">
                     <div class="no-results" ng-show="noResults && searchTerm != ''">
                      No results. Please try again
                    </div>
                  </div>
                </form>
              </div>
              <p class="hidden-xs hidden-sm">Every Ticket Comes With Our Good Game Guarantee!</p>
            </div>
            <div class="press-images hidden-xs hidden-sm">
              <div class="container">
                <div class="spacing-div">AS FEATURED IN</div>
                <div class="spacing-div"><img src="/assets/press2/CNBC copy-fdb267aa4588c98a366e9d0afdef0302f0a98668135fac84e3ef06d35299dc88.png"></div>
                <div class="spacing-div"><img src="/assets/press2/USA Today copy-474cc69f1ed05583320007bcafaf7008ee68c472237462fc4717e0e7bc5b5ed6.png"></div>
                <div class="spacing-div"><img src="/assets/press2/Sports Illustrated Red-edc91d6b8d994df6ccb1e356910ff05576abe1eefc7f4abc8d72d179d7ac14b1.png"></div>
                <div class="spacing-div"><img src="/assets/press2/Yahoo Finance-d458f43938d57599491d23cf4bf31ae36cc034756bad2f485b2b08825292fc59.png"></div>
                <div class="spacing-div"><img src="/assets/press2/ESPN Radio copy-0a5f89dc91d4e272652ec987df0ecab5b0db6a93e2bbf88fb36076a7d9efbd4d.png"></div>
              </div>
            </div>
          </div>
        </div>
    </section>
    
    <main id="how_works_container">
        <section id="good-game-guarantee" class="hidden-xs hidden-sm">
          <div class="container">
            <div class="title">HOW THE GOOD GAME GUARANTEE WORKS</div>

            <div class="content-background">
              <div class="content">
                <div class="col-md-4 division">
                  <div class="col-xs-5 section">
                    <img src="/assets/icon ticket-a818a977ec378f09ad896d10d6851700a12d2ee1b11bf927ddfe311881571132.png">
                  </div>
                  <div class="col-xs-7 section2">
                    <h2>BUY TICKETS</h2>
                    <p>
                      Find your game and purchase your tickets.<br>
                      Good Game Guarantee included at no additional cost with every ticket.
                    </p>
                  </div>
                </div>
                <div class="col-md-4 division center-div">
                  <div class="col-xs-5 section">
                    <img src="/assets/icon stadium-d84160b6bb6cf8d4dc832969dd15a71aed27c61e59c52252ec1c96a6549dc437.png">
                  </div>
                  <div class="col-xs-7 section2">
                    <h2>ENJOY GAME</h2>
                    <p>
                      If the home team loses by below amount or more, you get 50% of ticket price back.
                    </p>
                    <div class="row">
                      <div class="col-xs-6 block">
                        <img class="icon-img" src="/assets/football icon-9a7d20380f240bd4ab7c5f211260dfe2de8ad1fa737653dc6ea44b6e55c6b7d2.png">
                        17 PTS
                      </div>
                      <div class="col-xs-6 block">
                        <img class="icon-img" src="/assets/basketball icon-cdaf5028d46f84e9e9159e1eeb0b151eb7d2ec8e13fb8c00456084fb4e4e71f4.png">
                        20 PTS
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 block">
                        <img class="icon-img" src="/assets/baseball icon-836e64be846b054a8d6890a6af14ae0d63654eb2ed3b45723e9ae2241f802c12.png">
                        5 RUNS
                      </div>
                      <div class="col-xs-6 block">
                        <img class="icon-img" src="/assets/hockey icon-66b08d4368d6695e3871796d8aa5978d88f5efd669c056d01f8bbe0a170b4d3d.png">
                        4 GOALS
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 division">
                  <div class="col-xs-5 section">
                    <img src="/assets/icon coin-a40eea64c1a1891b66756011ec48e43d67950c96647117597546d112983d9af7.png">
                  </div>
                  <div class="col-xs-7 section2">
                    <h2>CLAIM MONEY</h2>
                    <p>
                      Simply come back to GameHedge.com to claim your refund.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="good-game-guarantee" class="hidden-md hidden-lg hidden-xl">
          <div class="container">
            <div class="title">HOW THE GOOD GAME GUARANTEE WORKS</div>

            <div class="content-background-mobile">
              <div class="content-mobile">
                 <slick settings="slickConfig">

                    <div class="row table-element">
                      <div class="section-mobile table-ele-cell first-ele">
                        <img src="/assets/icon ticket-a818a977ec378f09ad896d10d6851700a12d2ee1b11bf927ddfe311881571132.png">
                      </div>
                      <div class="section2-mobile table-ele-cell second-ele">
                        <h2>BUY TICKETS</h2>
                        <p>
                          Find your game and purchase your tickets.<br>
                          Good Game Guarantee included at no additional cost with every ticket.
                        </p>
                      </div>
                    </div>
                    <div class="row table-element">
                      <div class="section-mobile table-ele-cell first-ele">
                        <img src="/assets/icon stadium-d84160b6bb6cf8d4dc832969dd15a71aed27c61e59c52252ec1c96a6549dc437.png">
                      </div>
                      <div class="section2-mobile table-ele-cell second-ele">
                        <h2>ENJOY GAME</h2>
                        <p>
                          If the home team loses by below amount or more, you get 50% of ticket price back.
                        </p>
                        <div class="row">
                          <div class="fifty-perc block">
                            <img class="icon-img" src="/assets/football icon-9a7d20380f240bd4ab7c5f211260dfe2de8ad1fa737653dc6ea44b6e55c6b7d2.png">
                            <div>17 PTS</div>
                          </div>
                          <div class="fifty-perc block">
                            <img class="icon-img" src="/assets/basketball icon-cdaf5028d46f84e9e9159e1eeb0b151eb7d2ec8e13fb8c00456084fb4e4e71f4.png">
                            <div>20 PTS</div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="fifty-perc block">
                            <img class="icon-img" src="/assets/baseball icon-836e64be846b054a8d6890a6af14ae0d63654eb2ed3b45723e9ae2241f802c12.png">
                            <div>5 RUNS</div>
                          </div>
                          <div class="fifty-perc block">
                            <img class="icon-img" src="/assets/hockey icon-66b08d4368d6695e3871796d8aa5978d88f5efd669c056d01f8bbe0a170b4d3d.png">
                            <div>4 GOALS</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row table-element">
                      <div class="section-mobile table-ele-cell first-ele">
                        <img src="/assets/icon coin-a40eea64c1a1891b66756011ec48e43d67950c96647117597546d112983d9af7.png">
                      </div>
                      <div class="section2-mobile table-ele-cell second-ele">
                        <h2>CLAIM MONEY</h2>
                        <p>
                          Simply come back to GameHedge.com to claim your refund.
                        </p>
                      </div>
                    </div> 

                </slick>




              </div>
            </div>
          </div>
        </section>
        
        
        <div id="how-works-bottom" class="container">
            
            <hr>
            
            <div class="guarantee row">
                <div class="col-sm-2 col-xs-3 how-works-mobile"><img width="100%" src="/assets/badge-gamehedge-c6f8f51039f93f77379348b708f4f6cc8b087a2556df007b205cd85c4953a04e.png" /></div>
                <div class="col-sm-10 col-xs-9">
                    <h2>Good Game Guarantee&trade;</h2>
                    <p>All GameHedge tickets come with our exclusive Good Game Guarantee at no additional cost to you. So, if the home team loses by 5 runs or more, we will refund 50% of the ticket price. No gimmicks. No catches.</p>
                </div>
            </div>
        </div>
        
    </main>
</section>