<div id="MY_MAP"></div>
<div id="map_key"></div>

<div class="col-xs-12 tickets-data" id="tickets_list">
  <div class="row rowTicket" ng-repeat="ticket in tickets.data.ticket_groups" data-section="{{ticket.section}}" data-row="{{ticket.row}}" data-price="{{ticket.retail_price}}" data-ticketid="{{ticket.id}}">
    <div class="hidden-xs hidden-sm col-xs-1 info-ico">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="{{ticket.public_notes}}" ng-if="ticket.public_notes"></span>
    </div>
    <div class="col-xs-4 col-md-3 vertical-center horizontal-center section full-height">
      {{ticket.section}}
    </div>
    <div class="col-xs-2 vertical-center horizontal-center full-height">
      {{ticket.row}}
    </div>
    <div class="col-xs-2 vertical-center horizontal-center full-height custom-select">
      <select class="rowAvail" ng-model="ticket.amount" ng-value="ticket.amount" ng-options="option for option in ticket.splits | orderBy:'-'">
        <!--option ng-repeat="o in ticket.splits | orderBy:'-'" value="{{o}}">{{o}}</option-->
      </select>
    </div>
    <div class="col-xs-4 vertical-center horizontal-center buy-btn full-height">
      <span class="buy-btn-span">
        <button class="" >${{ticket.retail_price}}/ea</button>
        <!--button class="hidden-md hidden-lg hidden-xl" ng-click="showDetail(ticket.amount, ticket)">${{ticket.retail_price}}/ea</button-->
        <p class="format">{{ticket.format}}</p>
      </span>
    </div>
  </div>
</div>