<main id="account">
	<div class="loading-button-holder">
		<button ladda="loading" data-spinner-color="#000000" ng-show="loading"></button>
	</div>
	<div class="container" ng-show="!loading">
				<div class="row">
					<div class="col-md-4">
						<section id="customer-billing" ng-if="client.primary_credit_card != null">
							<h2>Default Billing Method</h2>
							<img src="/assets/visa-1ff4c3408521633fab04fbeac8be47abba8c5f0631a37f59584fee95fb50396a.png" ng-if="(client.primary_credit_card.card_company | lowercase) == 'visa'" class="credicard-img">
					    	<img src="/assets/mastercard-4a5ebecc7be76c9b553b10538425295e5763fea821eba89cab6c5d75e7f31676.png" ng-if="(client.primary_credit_card.card_company | lowercase) == 'mastercard'" class="credicard-img">
					    	<img src="/assets/amex-7315ff6eb33fc969a4d83b2790be24e056bb75fd6f4bb1a2b3fc84f4d2a71a12.png" ng-if="(client.primary_credit_card.card_company | lowercase) == 'amex'" class="credicard-img">
					    	<img src="/assets/discover-bd4e8c1a93870e95422eae2b906443869b10f62dae15444bcfcf0e6f92bacc3c.png" ng-if="(client.primary_credit_card.card_company | lowercase) == 'discover'" class="credicard-img">
							{{client.primary_credit_card.card_company}} ending in {{client.primary_credit_card.last_digits}} Exp {{client.primary_credit_card.expiration_month}}/{{client.primary_credit_card.expiration_year}}
							<address>
								{{client.primary_credit_card.address.name}}<br />
								{{client.primary_credit_card.address.street_address}}<br />
								{{client.primary_credit_card.address.locality}}, {{client.primary_credit_card.address.region}} {{client.primary_credit_card.address.postal_code}}
							</address>
						</section>
						<section id="customer-billing" ng-if="client.primary_credit_card == null">
							<h2>Default Billing Method</h2>
							No credit card stored
						</section>
					</div>
					<div class="col-md-4">
						<section id="customer-shipping" ng-if="client.primary_shipping_address != null">
							<h2>Default Shipping Address</h2>
							<address>
								{{client.primary_shipping_address.name}}<br />
								{{client.primary_shipping_address.street_address}}<br />
								{{client.primary_shipping_address.locality}}, {{client.primary_shipping_address.region}} {{client.primary_shipping_address.postal_code}}
							</address>
						</section>
						<section id="customer-shipping" ng-if="client.primary_shipping_address == null">
							<h2>Default Shipping Address</h2>
							No addresses stored
						</section>
					</div>
					<div class="col-md-4">
						<section id="customer-contact">
							<h2>Contact Information</h2>
							<p><strong>Phone Number: </strong> {{client.primary_phone_number.number}}</p>
							<p><strong>Email Address: </strong> {{client.primary_email_address.address}}</p>
						</section>
					</div>
				</div>
				
		</div>
	</div>
</main>