<section id="home">
<div class="nl-top-bg" style="background-image: URL(/assets/green_background-dc74b24e0239188a701b0c7b401230c6f1ee88581862dd482ec62f7e0d9cac3e.png);">
  <div class="container nl-container">

    <section id="hero">
        <div id="shader"></div>
        <div id="wrapper">
          <div id="content">
            <div class="container">
              <p class="hidden-md hidden-lg hidden-xl">Every Ticket Comes With Our Good Game Guarantee!</p>
              <div id="hero-search">
                <form id="form-home-search" name="formSearch" onsubmit="function(){return false;};">
                  <input type="hidden" name="type" value="full" />
                  <div class="form-group">
                    <img src="/assets/search icon-ddc57ae24d1e0b6ebb55f1742da8cca2a6b75cfc1339e507c71d46c821390c82.png" ng-click="goToSearch()">
                    <input id="search_element" type="text" class="form-control" placeholder="Search by team, league, game, stadium or player..." ng-model="searchTerm" uib-typeahead="hint as hint.name for hint in getSearchHints($viewValue)" typeahead-template-url="typeahead/bind-node.html" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" typeahead-on-select="onSelect($item, $model, $label)" typeahead-no-results="noResults">
                     <div class="no-results" ng-show="noResults && searchTerm != ''">
                      No results. Please try again
                    </div>
                  </div>
                </form>
              </div>
              
            </div>
            <!--
            <div class="press-images hidden-xs hidden-sm">
              <div class="container">
                <div class="spacing-div">AS FEATURED IN</div>
                <div class="spacing-div"><img src="/assets/press2/CNBC copy-fdb267aa4588c98a366e9d0afdef0302f0a98668135fac84e3ef06d35299dc88.png"></div>
                <div class="spacing-div"><img src="/assets/press2/USA Today copy-474cc69f1ed05583320007bcafaf7008ee68c472237462fc4717e0e7bc5b5ed6.png"></div>
                <div class="spacing-div"><img src="/assets/press2/Sports Illustrated Red-edc91d6b8d994df6ccb1e356910ff05576abe1eefc7f4abc8d72d179d7ac14b1.png"></div>
                <div class="spacing-div"><img src="/assets/press2/Yahoo Finance-d458f43938d57599491d23cf4bf31ae36cc034756bad2f485b2b08825292fc59.png"></div>
                <div class="spacing-div"><img src="/assets/press2/ESPN Radio copy-0a5f89dc91d4e272652ec987df0ecab5b0db6a93e2bbf88fb36076a7d9efbd4d.png"></div>
              </div>
            </div>
            -->
          </div>
        </div>
    </section>
</div>
</div>    

    <main id="press_container">
      <div class="nl-featured-in hidden-xs hidden-sm" id="good-game-guarantee">
  <div class="container" style="margin-top: 0px;">
    <center>
      <img src="/assets/featured_logos-cd6431176f2cd8d32fc39822a87decb7760a536b82d2dbae9bf65ad8ca3e56e9.png">
    </center>    
  </div>
  </div>

        <div class="container">
            <h4 class="text-center" style=" font-size:35px;">GameHedge News</h4>
            <div class="row" style="margin-bottom: 50px;margin-top: 50px;">
                <div class="col-sm-3 hidden-xs"></div>
                <div class="col-sm-6 col-xs-12 text-center press-info">
                    <img src="/assets/press2/USAToday-fceb935a5bb2ef80b8df4c9e9053432ec9aa05aca3d58e98e9c74e10e67b04c9.png">
                    <p><a target="_blank" href="http://www.usatoday.com/story/sports/mlb/2016/06/15/gamehedge-refunds-50-percent-ticket-price-if-home-team-loses-big/85931138/">USA Today: Ticket marketplace to offer refunds if home team loses big</a></p>
                    <br>
                    <img src="/assets/press2/Sports Illustrated Red-edc91d6b8d994df6ccb1e356910ff05576abe1eefc7f4abc8d72d179d7ac14b1.png">
                    <p><a target="_blank" href="http://www.si.com/tech-media/2016/06/24/gamehedge-cash-money-back">Sports Illustrated: GameHedge gives cash back on ticket purchases for bad games</a></p>
                    <br>
                    <img src="/assets/press2/Scout-ee3856aade3d89f1f985c154325e33edd62878207ac8aa0deb568cb72469f642.png">
                    <p><a target="_blank" href="http://www.scout.com/story/1679115-ticket-website-offer-refunds-for-losing">Scout:  New Ticket Website Rewarding Fans of Bad Teams</a></p>
                    <br>
                    <img src="/assets/press2/CNBC-logo-39ed76ec3f046f17d35d3bd3e898b918e5dafc611a9076130fc1f457cdc99aa5.png">
                    <p><a target="_blank" href="http://www.cnbc.com/2016/06/17/upstarts-bring-new-game-to-resale-tickets-for-fans.html">CNBC:  Upstarts bring new game to resale tickets for fans</a></p>
                    <br>
                    <img src="/assets/press2/Crains NY Black-52250f57fdd3114dcd91e5fcdc8f17d050862c3ff8405cac3738c4284b0bb70e.png">
                    <p><a target="_blank" href="http://www.crainsnewyork.com/article/20160621/TECHNOLOGY/160629961/sports-ticket-reseller-offers-refunds-if-your-team-gets-waxed">Crain's NY:  Sports-ticket reseller offers refunds if your team gets waxed</a></p>
                    <br>
                    <img src="/assets/press2/Yahoo Finance-d458f43938d57599491d23cf4bf31ae36cc034756bad2f485b2b08825292fc59.png">
                    <p><a target="_blank" href="http://finance.yahoo.com/news/gamehedge-launches-revolutionary-sports-ticket-130800271.html;_ylt=AwrC1DHW.GJXoREA8xWTmYlQ;_ylu=X3oDMTEzc2p0NzZlBGNvbG8DYmYxBHBvcwMyBHZ0aWQDVklEUFJEXzEEc2VjA3Nj">Yahoo Finance: GameHedge Launches Revolutionary Sports Ticket Marketplace Created To Give Something Back To Loyal Fans When The Game Doesn't Go Their Way</a></p>
                    <br>
                    <img src="/assets/press2/SportTechie SM-6d9bdb963cfcda9d0b33c1c702e5d4ab718042801f2fd2b1a0ff31f4d455dba3.png">
                    <p><a target="_blank" href="http://www.sporttechie.com/2016/06/23/gamehedge-gives-you-money-back-if-your-team-performs-poorly/">Sport Techie: GameHedge Gives You Money Back If Your Team Performs Poorly</a></p>
                    <br>
                    <img src="/assets/press2/Yardbarker-19dd2aac63bf0f90054772d84486bed248af73e7064c9b4013284e92d48a185a.png">
                    <p><a target="_blank" href="http://www.yardbarker.com/mlb/articles/new_ticket_website_offers_fans_refunds_for_home_team_blowouts/s1_13156_21116701">Yardbarker: New ticket website offers fans refunds for home-team blowouts</a></p>
                    <br>
                    <img src="/assets/press2/MSN-136ae112a13251c0b09676f0861588102de21154ec628ab237c3653d79b74e00.png">
                    <p><a target="_blank" href="http://www.msn.com/en-us/sports/mlb/ticket-marketplace-offers-refunds-if-team-loses-big/ar-AAh5Gl9">MSN: Ticket marketplace offers refunds if team loses big</a></p>
                    <br>
                    <img src="/assets/press2/Comeback-977d93a736accf0052c2bba927b62d85e720f320311fd9b6ee330c206b204411.png">
                    <p><a target="_blank" href="http://thecomeback.com/blog/tech/ticket-website-blowouts-refunds.html">The Comback: New Ticket Website Offers Fans Refund For Home-Team blowouts </a></p>
                    <br>
                    <img src="/assets/press2/Daily Dot-fbd25ace858b164148000a5565203317127074ec6b66e9bed6e74dc4114fd585.png">
                    <p><a target="_blank" href="http://www.dailydot.com/entertainment/game-hedge-secondary-ticket-launches/">The Daily Dot: The ticket app that will give you a refund if the game sucks</a></p>
                    <br>
                    <img src="/assets/press2/vocativ-5df2965d41ba6ab54e8745d85d6372b0aceaf2247b0b932b8dbdf09a64a19f45.png">
                    <p><a target="_blank" href="http://www.vocativ.com/330153/refunds-for-blowout-games-this-startup-is-trying-it/">Vocativ: Refunds For Blowout Games? This Startup Is Trying It</a></p>
                    <br>
                    <img src="/assets/press2/Baseball Prospectus-c599f3e27c5f17a86245a5f8059005061f37172972fff67b57ce4d199e0d82a7.png">
                    <p><a target="_blank" href="http://www.baseballprospectus.com/article.php?articleid=29564">Baseball Prospectus:  BP Daily Podcast</a></p>
                    <br>
                    <img src="/assets/press2/Kare 11-435c535e7a7372a8a4f09434ac66fb85f9242abf69dc635266d59deb69b0eba1.png">
                    <p><a target="_blank" href="http://www.kare11.com/news/ticket-marketplace-to-offer-refunds-if-home-team-loses-big/245569067">Kare 11:  Ticket marketplace to offer refunds if home team loses big</a></p>
                    <br>
                    <img src="/assets/press2/ESPN 980-510d4427521f8845953a5e0dd30a04066bded01729a1484b02fdf1efe6685739.png">
                    <p><a target="_blank" href="https://soundcloud.com/user-371492790/gamehedge-on-espn980-radio-dmv-game-time-washington-dc">ESPN 980 Radio: DMV Game Time</a></p>
                    <br>
                    <img src="/assets/press2/700 WLW-e99981e427512fc065fef1466c8de8bf9c22285cad2cbec86714bf65a79b7969.png">
                    <p><a target="_blank" href="http://m.700wlw.iheart.com/onair/lance-mcalister-7818/what-about-this-good-game-guarantee-14820612/">700 LWL: What about this "Good Game Guarantee" at GABP?</a></p>
                    <br>
                    <img src="/assets/press2/Fox 910AZ2-22476b0819529eed1c83863fe1e2f41538ec833cbbd2511927fc5f9a951d7246.png">
                    <p><a target="_blank" href="https://soundcloud.com/user-371492790/fox-sports-910am-the-freaks-wkenny-and-crash-phoenix-az">Fox Sports 910am The Freaks with Kenny and Crash</a></p>
                    <br>
                    <img src="/assets/press2/ESPN 1530-beb4e5fd632265ed5fd62b0c6970f4d266cdff31e0f92e67b27b203475cda59b.png">
                    <p><a target="_blank" href="http://espn1530.iheart.com/onair/lance-mcalister-7818/what-about-this-good-game-guarantee-14820612/">ESPN1530 Radio: What about this "Good Game Guarantee" at GABP?</a></p>
                    <p style="margin-top: 50px;">Contact us: Public Relations</p>
                    <p>Press Inquiry</p>
                    <p><a target="_blank" href="mailto:press@gamehedge.com">press@gamehedge.com</a></p>
                </div>
                <div class="col-xs-3"></div>
            </div>
        </div>
    </main>
</section>