<section id="home">
    <section id="hero">
        <div id="shader"></div>
        <div id="wrapper">
          <div id="content">
            <div class="container">
              <p class="hidden-md hidden-lg hidden-xl">Every Ticket Comes With Our Good Game Guarantee!</p>
              <div id="hero-search">
                <form id="form-home-search" name="formSearch" method="POST" action="/search/">
                  <input type="hidden" name="type" value="full" />
                  <div class="form-group">
                    <img src="/assets/search icon-9b89f111fdfca6e05a4dd8ab3af1c70710cfad4a3d3507f20522d36d158f0b0d.png">
                    <input id="search_element" type="text" class="form-control" placeholder="Search by team, league, game, stadium or player..." ng-model="searchTerm" uib-typeahead="hint.name for hint in getSearchHints($viewValue)" typeahead-template-url="typeahead/bind-node.html" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                  </div>
                </form>
              </div>
              <p class="hidden-xs hidden-sm">Every Ticket Comes With Our Good Game Guarantee!</p>
            </div>
            <div class="press-images hidden-xs hidden-sm">
              <div class="container">
                <div class="spacing-div">AS FEATURED IN</div>
                <div class="spacing-div"><img src="/assets/press2/CNBC copy-c30d7d847807d7a59b369d14e91dcdc46ee469e47b4577e459c54227477ffa9a.png"></div>
                <div class="spacing-div"><img src="/assets/press2/USA Today copy-640825454ea57ea498a582a59600664e0e7b47c49b4dd6c1ed275bd9e622979e.png"></div>
                <div class="spacing-div"><img src="/assets/press2/Sports Illustrated Red-17e0a5c765b08d21fe6c978563c4109e865252e56c719c656bbee4d5d3965d6f.png"></div>
                <div class="spacing-div"><img src="/assets/press2/Yahoo Finance-e1a54e5f17c402c93f9a808573be1e5ffe508f17979f26d779702960ccc1251b.png"></div>
                <div class="spacing-div"><img src="/assets/press2/ESPN Radio copy-3837662bfdc2851f6aa9912f55d69e189db1795bf75a98a9eacc437875b73b21.png"></div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <main id="press_container">
        <div class="container">
            <h4 class="text-center" style=" font-size:35px;">GameHedge News</h4>
            <div class="row" style="margin-bottom: 50px;margin-top: 50px;">
                <div class="col-sm-3 hidden-xs"></div>
                <div class="col-sm-6 col-xs-12 text-center press-info">
                    <img src="/assets/press2/USAToday-67822a4fbc9910fbd3b61a236f6b3a5c614766477cfb66a0d53daba6df573ad5.png">
                    <p><a target="_blank" href="http://www.usatoday.com/story/sports/mlb/2016/06/15/gamehedge-refunds-50-percent-ticket-price-if-home-team-loses-big/85931138/">USA Today: Ticket marketplace to offer refunds if home team loses big</a></p>
                    <br>
                    <img src="/assets/press2/Sports Illustrated Red-17e0a5c765b08d21fe6c978563c4109e865252e56c719c656bbee4d5d3965d6f.png">
                    <p><a target="_blank" href="http://www.si.com/tech-media/2016/06/24/gamehedge-cash-money-back">Sports Illustrated: GameHedge gives cash back on ticket purchases for bad games</a></p>
                    <br>
                    <img src="/assets/press2/Scout-912027ac1541c6d799e3495bc40a979cb0c9ac4d1bb914b44f172aaa2ebe9b3f.png">
                    <p><a target="_blank" href="http://www.scout.com/story/1679115-ticket-website-offer-refunds-for-losing">Scout:  New Ticket Website Rewarding Fans of Bad Teams</a></p>
                    <br>
                    <img src="/assets/press2/CNBC-logo-c03b090bd0162a74062be6a6147a57ca3a8a82e57bb8c3a0644d3b87e98133d6.png">
                    <p><a target="_blank" href="http://www.cnbc.com/2016/06/17/upstarts-bring-new-game-to-resale-tickets-for-fans.html">CNBC:  Upstarts bring new game to resale tickets for fans</a></p>
                    <br>
                    <img src="/assets/press2/Crains NY Black-2b5c17b8cfe87921a1f95d10d2f4538a05a3eb98a3aadfe2cef81f74f262d20c.png">
                    <p><a target="_blank" href="http://www.crainsnewyork.com/article/20160621/TECHNOLOGY/160629961/sports-ticket-reseller-offers-refunds-if-your-team-gets-waxed">Crain's NY:  Sports-ticket reseller offers refunds if your team gets waxed</a></p>
                    <br>
                    <img src="/assets/press2/Yahoo Finance-e1a54e5f17c402c93f9a808573be1e5ffe508f17979f26d779702960ccc1251b.png">
                    <p><a target="_blank" href="http://finance.yahoo.com/news/gamehedge-launches-revolutionary-sports-ticket-130800271.html;_ylt=AwrC1DHW.GJXoREA8xWTmYlQ;_ylu=X3oDMTEzc2p0NzZlBGNvbG8DYmYxBHBvcwMyBHZ0aWQDVklEUFJEXzEEc2VjA3Nj">Yahoo Finance: GameHedge Launches Revolutionary Sports Ticket Marketplace Created To Give Something Back To Loyal Fans When The Game Doesn't Go Their Way</a></p>
                    <br>
                    <img src="/assets/press2/SportTechie SM-4918d7c445e5eccaf67f990b15c12b540a35e569888e4deefa94f7dd3f65c75a.png">
                    <p><a target="_blank" href="http://www.sporttechie.com/2016/06/23/gamehedge-gives-you-money-back-if-your-team-performs-poorly/">Sport Techie: GameHedge Gives You Money Back If Your Team Performs Poorly</a></p>
                    <br>
                    <img src="/assets/press2/Yardbarker-52e5ac4e6781ed6835a30fd9e8812c8cd2d3e13ce17b79abdebdf6e4888a326c.png">
                    <p><a target="_blank" href="http://www.yardbarker.com/mlb/articles/new_ticket_website_offers_fans_refunds_for_home_team_blowouts/s1_13156_21116701">Yardbarker: New ticket website offers fans refunds for home-team blowouts</a></p>
                    <br>
                    <img src="/assets/press2/MSN-8f046913713bd3b5773fc2a11ccd3c86e21998de03b7ddd1125249dbb83053bf.png">
                    <p><a target="_blank" href="http://www.msn.com/en-us/sports/mlb/ticket-marketplace-offers-refunds-if-team-loses-big/ar-AAh5Gl9">MSN: Ticket marketplace offers refunds if team loses big</a></p>
                    <br>
                    <img src="/assets/press2/Comeback-acaa282321e94daa5c5682308935dd4320c2cbf99d91a60794e6ebd11a9aa499.png">
                    <p><a target="_blank" href="http://thecomeback.com/blog/tech/ticket-website-blowouts-refunds.html">The Comback: New Ticket Website Offers Fans Refund For Home-Team blowouts </a></p>
                    <br>
                    <img src="/assets/press2/Daily Dot-74f33899114f25021722f7cf67549f18379a275bb83d641f1115beff13d7ca2b.png">
                    <p><a target="_blank" href="http://www.dailydot.com/entertainment/game-hedge-secondary-ticket-launches/">The Daily Dot: The ticket app that will give you a refund if the game sucks</a></p>
                    <br>
                    <img src="/assets/press2/vocativ-753955235055edb9066ef87da2e5ee033c9b9e6f056d1bd35d17c0ca04424b51.png">
                    <p><a target="_blank" href="http://www.vocativ.com/330153/refunds-for-blowout-games-this-startup-is-trying-it/">Vocativ: Refunds For Blowout Games? This Startup Is Trying It</a></p>
                    <br>
                    <img src="/assets/press2/Baseball Prospectus-292fe8014276ae75f92a3b2ea37b4d508ec7ac19b56c1077aa793003cbf27230.png">
                    <p><a target="_blank" href="http://www.baseballprospectus.com/article.php?articleid=29564">Baseball Prospectus:  BP Daily Podcast</a></p>
                    <br>
                    <img src="/assets/press2/Kare 11-65a49079b92df0b51827e77f83c82d3ef8f5856744c90d07b865e7f9a488cacf.png">
                    <p><a target="_blank" href="http://www.kare11.com/news/ticket-marketplace-to-offer-refunds-if-home-team-loses-big/245569067">Kare 11:  Ticket marketplace to offer refunds if home team loses big</a></p>
                    <br>
                    <img src="/assets/press2/ESPN 980-a082ec60c747ca8395754749a82f9abc7ca4b82435bcb3067db6e3eb02dd213f.png">
                    <p><a target="_blank" href="https://soundcloud.com/user-371492790/gamehedge-on-espn980-radio-dmv-game-time-washington-dc">ESPN 980 Radio: DMV Game Time</a></p>
                    <br>
                    <img src="/assets/press2/700 WLW-4b186ed80b3fc6af058592c8474f5308589686e19d6d65d48b6ad42108b1b8d3.png">
                    <p><a target="_blank" href="http://m.700wlw.iheart.com/onair/lance-mcalister-7818/what-about-this-good-game-guarantee-14820612/">700 LWL: What about this "Good Game Guarantee" at GABP?</a></p>
                    <br>
                    <img src="/assets/press2/Fox 910AZ2-2b6af58f1b2b68d564b74654ce882e0cefc81c269585c76d661b03ace3178b36.png">
                    <p><a target="_blank" href="https://soundcloud.com/user-371492790/fox-sports-910am-the-freaks-wkenny-and-crash-phoenix-az">Fox Sports 910am The Freaks with Kenny and Crash</a></p>
                    <br>
                    <img src="/assets/press2/ESPN 1530-f30b167c8e6c1edd213ff61f0e97a9260c4f11ea6a5dfb6a0f60d83e68491d6c.png">
                    <p><a target="_blank" href="http://espn1530.iheart.com/onair/lance-mcalister-7818/what-about-this-good-game-guarantee-14820612/">ESPN1530 Radio: What about this "Good Game Guarantee" at GABP?</a></p>
                    <p style="margin-top: 50px;">Contact us: Public Relations</p>
                    <p>Press Inquiry</p>
                    <p><a target="_blank" href="mailto:press@gamehedge.com">press@gamehedge.com</a></p>
                </div>
                <div class="col-xs-3"></div>
            </div>
        </div>
    </main>
</section>