<section id="home">
    <section id="hero">
        <div id="shader"></div>
        <div id="wrapper">
          <div id="content">
            <div class="container">
              <p class="hidden-md hidden-lg hidden-xl">Every Ticket Comes With Our Good Game Guarantee!</p>
              <div id="hero-search">
                <form id="form-home-search" name="formSearch" onsubmit="function(){return false;};">
                  <input type="hidden" name="type" value="full" />
                  <div class="form-group">
                    <img src="/assets/search icon-56b3353c01350d9f9bc021ab9af81ae9a587a37afa1c7281dc7795ac43ce361f.png" ng-click="goToSearch()">
                    <input id="search_element" type="text" class="form-control" placeholder="Search by team, league, game, stadium or player..." ng-model="searchTerm" uib-typeahead="hint as hint.name for hint in getSearchHints($viewValue)" typeahead-template-url="typeahead/bind-node.html" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" typeahead-on-select="onSelect($item, $model, $label)" typeahead-no-results="noResults">
                     <div class="no-results" ng-show="noResults && searchTerm != ''">
                      No results. Please try again
                    </div>
                  </div>
                </form>
              </div>
              
            </div>
            <div class="press-images hidden-xs hidden-sm">
              <div class="container">
                <div class="spacing-div">AS FEATURED IN</div>
                <div class="spacing-div"><img src="/assets/press2/CNBC copy-2b2be403abbc6bb95a829ac2388795d8ddfc4325f3b38e09e8e49c08a2965efe.png"></div>
                <div class="spacing-div"><img src="/assets/press2/USA Today copy-7ca9ac98902faf3b0212851fbf6c4995fd786b80c1e683f3878c4dab3e74fef3.png"></div>
                <div class="spacing-div"><img src="/assets/press2/Sports Illustrated Red-212c3b8526b282f5b25ef3737fe8cd8bf705ac34e08fe5eacfb3d212a46dddbb.png"></div>
                <div class="spacing-div"><img src="/assets/press2/Yahoo Finance-2b694cc41e54494100fee3dfbbdcf14ece433eeac9edf9ff93c0ffcf92ce31c5.png"></div>
                <div class="spacing-div"><img src="/assets/press2/ESPN Radio copy-a4354c0342ba757f533fad71ade9cfae2d8e22e3145a6905a6c8a0f3fe60711d.png"></div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <main id="press_container">
        <div class="container">
            <h4 class="text-center" style=" font-size:35px;">GameHedge News</h4>
            <div class="row" style="margin-bottom: 50px;margin-top: 50px;">
                <div class="col-sm-3 hidden-xs"></div>
                <div class="col-sm-6 col-xs-12 text-center press-info">
                    <img src="/assets/press2/USAToday-6fd5e8956d4f8c31c060818bfd3d96811b83a49614ae1ba75000eb8eb4a2c5a7.png">
                    <p><a target="_blank" href="http://www.usatoday.com/story/sports/mlb/2016/06/15/gamehedge-refunds-50-percent-ticket-price-if-home-team-loses-big/85931138/">USA Today: Ticket marketplace to offer refunds if home team loses big</a></p>
                    <br>
                    <img src="/assets/press2/Sports Illustrated Red-212c3b8526b282f5b25ef3737fe8cd8bf705ac34e08fe5eacfb3d212a46dddbb.png">
                    <p><a target="_blank" href="http://www.si.com/tech-media/2016/06/24/gamehedge-cash-money-back">Sports Illustrated: GameHedge gives cash back on ticket purchases for bad games</a></p>
                    <br>
                    <img src="/assets/press2/Scout-2509c6861b7fdda565c61bcbc5da67a0649f1303fd2a9fef7f06048d964faa93.png">
                    <p><a target="_blank" href="http://www.scout.com/story/1679115-ticket-website-offer-refunds-for-losing">Scout:  New Ticket Website Rewarding Fans of Bad Teams</a></p>
                    <br>
                    <img src="/assets/press2/CNBC-logo-bd72bd283eb95f1246092d776186fca5d42aad7e73aba289d506b0ab3c86bb15.png">
                    <p><a target="_blank" href="http://www.cnbc.com/2016/06/17/upstarts-bring-new-game-to-resale-tickets-for-fans.html">CNBC:  Upstarts bring new game to resale tickets for fans</a></p>
                    <br>
                    <img src="/assets/press2/Crains NY Black-e32cf5f67fc234c447cc168017232a85b4be6e95b216487e8a62e23b9cb1aba0.png">
                    <p><a target="_blank" href="http://www.crainsnewyork.com/article/20160621/TECHNOLOGY/160629961/sports-ticket-reseller-offers-refunds-if-your-team-gets-waxed">Crain's NY:  Sports-ticket reseller offers refunds if your team gets waxed</a></p>
                    <br>
                    <img src="/assets/press2/Yahoo Finance-2b694cc41e54494100fee3dfbbdcf14ece433eeac9edf9ff93c0ffcf92ce31c5.png">
                    <p><a target="_blank" href="http://finance.yahoo.com/news/gamehedge-launches-revolutionary-sports-ticket-130800271.html;_ylt=AwrC1DHW.GJXoREA8xWTmYlQ;_ylu=X3oDMTEzc2p0NzZlBGNvbG8DYmYxBHBvcwMyBHZ0aWQDVklEUFJEXzEEc2VjA3Nj">Yahoo Finance: GameHedge Launches Revolutionary Sports Ticket Marketplace Created To Give Something Back To Loyal Fans When The Game Doesn't Go Their Way</a></p>
                    <br>
                    <img src="/assets/press2/SportTechie SM-8224be8d87a9c99c05c814937550296769e08c9393884cf3c0ba745885cb7ffd.png">
                    <p><a target="_blank" href="http://www.sporttechie.com/2016/06/23/gamehedge-gives-you-money-back-if-your-team-performs-poorly/">Sport Techie: GameHedge Gives You Money Back If Your Team Performs Poorly</a></p>
                    <br>
                    <img src="/assets/press2/Yardbarker-e7882d417265c151ce6955acd74f1847668c8c14bdf476b405e2ad9a1252aa4f.png">
                    <p><a target="_blank" href="http://www.yardbarker.com/mlb/articles/new_ticket_website_offers_fans_refunds_for_home_team_blowouts/s1_13156_21116701">Yardbarker: New ticket website offers fans refunds for home-team blowouts</a></p>
                    <br>
                    <img src="/assets/press2/MSN-c29530df1767701b540f2167c0e1d33a39d08a5791a4225aa21d9be54a71e0e6.png">
                    <p><a target="_blank" href="http://www.msn.com/en-us/sports/mlb/ticket-marketplace-offers-refunds-if-team-loses-big/ar-AAh5Gl9">MSN: Ticket marketplace offers refunds if team loses big</a></p>
                    <br>
                    <img src="/assets/press2/Comeback-81434f8837436d160d1aa44326dc5c8b2a7173db2a0073ef067ad09e3469da68.png">
                    <p><a target="_blank" href="http://thecomeback.com/blog/tech/ticket-website-blowouts-refunds.html">The Comback: New Ticket Website Offers Fans Refund For Home-Team blowouts </a></p>
                    <br>
                    <img src="/assets/press2/Daily Dot-b43421c514200c3e1f9216c8f35948a9f7560c2c6891229de9200e064729d787.png">
                    <p><a target="_blank" href="http://www.dailydot.com/entertainment/game-hedge-secondary-ticket-launches/">The Daily Dot: The ticket app that will give you a refund if the game sucks</a></p>
                    <br>
                    <img src="/assets/press2/vocativ-c47bcbc59da8df8fcacf2fc3b6f56dc1035f85fb25cce53a9a4d6862b8d045dc.png">
                    <p><a target="_blank" href="http://www.vocativ.com/330153/refunds-for-blowout-games-this-startup-is-trying-it/">Vocativ: Refunds For Blowout Games? This Startup Is Trying It</a></p>
                    <br>
                    <img src="/assets/press2/Baseball Prospectus-3138d1d64a2e99db29747befc0ee5650c42c2292f699de4e7d86412c8c378f1d.png">
                    <p><a target="_blank" href="http://www.baseballprospectus.com/article.php?articleid=29564">Baseball Prospectus:  BP Daily Podcast</a></p>
                    <br>
                    <img src="/assets/press2/Kare 11-fd0d8cf1a85f10743a6e2b678496afc2ce4952abf745d6a1f501a50cde2ffcd1.png">
                    <p><a target="_blank" href="http://www.kare11.com/news/ticket-marketplace-to-offer-refunds-if-home-team-loses-big/245569067">Kare 11:  Ticket marketplace to offer refunds if home team loses big</a></p>
                    <br>
                    <img src="/assets/press2/ESPN 980-510d4427521f8845953a5e0dd30a04066bded01729a1484b02fdf1efe6685739.png">
                    <p><a target="_blank" href="https://soundcloud.com/user-371492790/gamehedge-on-espn980-radio-dmv-game-time-washington-dc">ESPN 980 Radio: DMV Game Time</a></p>
                    <br>
                    <img src="/assets/press2/700 WLW-ed9a74482bab5933be5a3822c78d912536eff587f246685774cf00f8d41dfbc9.png">
                    <p><a target="_blank" href="http://m.700wlw.iheart.com/onair/lance-mcalister-7818/what-about-this-good-game-guarantee-14820612/">700 LWL: What about this "Good Game Guarantee" at GABP?</a></p>
                    <br>
                    <img src="/assets/press2/Fox 910AZ2-22476b0819529eed1c83863fe1e2f41538ec833cbbd2511927fc5f9a951d7246.png">
                    <p><a target="_blank" href="https://soundcloud.com/user-371492790/fox-sports-910am-the-freaks-wkenny-and-crash-phoenix-az">Fox Sports 910am The Freaks with Kenny and Crash</a></p>
                    <br>
                    <img src="/assets/press2/ESPN 1530-625d46a5ec471950d0266dbbf8e0ac4c3c9d5985a931311185366f1478d8494f.png">
                    <p><a target="_blank" href="http://espn1530.iheart.com/onair/lance-mcalister-7818/what-about-this-good-game-guarantee-14820612/">ESPN1530 Radio: What about this "Good Game Guarantee" at GABP?</a></p>
                    <p style="margin-top: 50px;">Contact us: Public Relations</p>
                    <p>Press Inquiry</p>
                    <p><a target="_blank" href="mailto:press@gamehedge.com">press@gamehedge.com</a></p>
                </div>
                <div class="col-xs-3"></div>
            </div>
        </div>
    </main>
</section>