<section id="home">
    <section id="hero">
        <div id="shader"></div>
        <div id="wrapper">
          <div id="content">
            <div class="container">
              <p class="hidden-md hidden-lg hidden-xl">Every Ticket Comes With Our Good Game Guarantee!</p>
              <div id="hero-search">
                <form id="form-home-search" name="formSearch" onsubmit="function(){return false;};">
                  <input type="hidden" name="type" value="full" />
                  <div class="form-group">
                    <img src="/assets/search icon-ddc57ae24d1e0b6ebb55f1742da8cca2a6b75cfc1339e507c71d46c821390c82.png">
                    <input id="search_element" type="text" class="form-control" placeholder="Search by team, league, game, stadium or player..." ng-model="searchTerm" uib-typeahead="hint.name for hint in getSearchHints($viewValue)" typeahead-template-url="typeahead/bind-node.html" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                     <div class="no-results" ng-show="searchTerm != ''">
                  Not results please try again
                </div>
                  </div>
                </form>
              </div>
              
            </div>
            <div class="press-images hidden-xs hidden-sm">
              <div class="container">
                <div class="spacing-div">AS FEATURED IN</div>
                <div class="spacing-div"><img src="/assets/press2/CNBC copy-fdb267aa4588c98a366e9d0afdef0302f0a98668135fac84e3ef06d35299dc88.png"></div>
                <div class="spacing-div"><img src="/assets/press2/USA Today copy-474cc69f1ed05583320007bcafaf7008ee68c472237462fc4717e0e7bc5b5ed6.png"></div>
                <div class="spacing-div"><img src="/assets/press2/Sports Illustrated Red-edc91d6b8d994df6ccb1e356910ff05576abe1eefc7f4abc8d72d179d7ac14b1.png"></div>
                <div class="spacing-div"><img src="/assets/press2/Yahoo Finance-d458f43938d57599491d23cf4bf31ae36cc034756bad2f485b2b08825292fc59.png"></div>
                <div class="spacing-div"><img src="/assets/press2/ESPN Radio copy-0a5f89dc91d4e272652ec987df0ecab5b0db6a93e2bbf88fb36076a7d9efbd4d.png"></div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <main id="privacy_container">
        <div class="container">
            <section id="legal">
                <h1>GAMEHEDGE PRIVACY POLICY</h1>
                <br/>
                <p>This privacy policy was last updated on April 1, 2016.</p>
                <p>Welcome to GameHedge.</p>
                <p>Protecting your personal information is very important to us. This Privacy Policy will explain how we use and protect the personal information you share with us. This Policy applies to gamehedge.com (the “Website”) and to any information provided to us. By accessing and using the Website, you are agreeing to the terms of this Privacy Policy, as it may be revised from time to time.</p>
                <p><strong><u>CONTACT US</u></strong></p>
                <p>If you have any questions about this privacy policy or the security practices of this site, please contact: <a href="mailto:support@gamehedge.com">support@gamehedge.com</a></p>
                <p><strong><u>INFORMATION THIS SITE GATHERS/TRACKS</u></strong></p>
                <p>We use your IP address and browser type to help diagnose problems with our server and to administer the Website.. This means that a user's session will be tracked, but the user will remain anonymous. Your IP address is used to help identify you and your shopping cart and to gather demographic information, but your IP address is not permanently associated with any of your personal information.</p>
                <p><strong><u>INFORMATION SHARING AND DISCLOSURE</u></strong></p>
                <p>We may collect personally identifiable information (PII) which you provide and that can identify you, such as your name, address, email address, and telephone number, and, if you transact business with us, financial information such as your payment method (valid credit card number, type, expiration date or other financial information).</p>
                <p>We may also periodically obtain both personal and non-personal information about you from our business partners and other third parties to whom you have given such information, and with whom we also do business. Examples of information that we may receive include: delivery and address information, purchase history, and additional demographic information.</p>
                <p>How we use the information we collect:</p>
                <p>We may use information that we collect about you to:</p>
                <ul>
                    <li>deliver the products and services that you have requested;</li>
                    <li>manage your account and provide you with customer support;</li>
                    <li>perform research and analysis about your use of, or interest in, our products, services or content, or products, services or content offered by others; or</li>
                    <li>communicate with you by email, postal mail, telephone and/or mobile devices about products or services that may be of interest to you either from us or from other third parties.</li>
                </ul>
                <p>Sharing  your information</p>
                <p>Personal information. We do not share your personal information with others except as indicated below or when we inform you and give you an opportunity to opt in to having your personal information shared. We may share personal information with:</p>
                <ul>
                    <li>Authorized service providers. We may share your personal information with our authorized service providers that perform certain services on our behalf. These services may include fulfilling orders, processing credit card payments, delivering packages, providing customer service and marketing assistance, performing business and sales analysis, supporting the Website functionality, and supporting contests, sweepstakes, surveys and other features offered through the Website. These service providers may have access to personal information needed to perform their functions but are not authorized to share or use such information for any other purposes.</li>
                    <li>Event providers. When you buy tickets through the Website, you consent to our providing your personal information to the event providers involved in the event and their contractors. Sharing this information with event providers allows them to contact you using the email address or other contact information you provided.</li>
                </ul>
                <p>We also may disclose your information:</p>
                <ul>
                    <li>In response to a subpoena or similar investigative demand, a court order, or a request for cooperation from a law enforcement or other government agency; to establish or exercise our legal rights; to defend against legal claims; or as otherwise required by law. In such cases, we may raise or waive any legal objection or right available to us.</li>
                    <li>When we believe disclosure is appropriate in connection with efforts to investigate, prevent, or take other action regarding illegal activity, suspected fraud or other wrongdoing; to protect and defend the rights, property or safety of our company, our users, our employees, or others; to comply with applicable law or cooperate with law enforcement; or to enforce the Website terms and conditions or other agreements or policies.</li>
                </ul>
                <p>Aggregated and non-personal information. Aggregated and non-personal information, which helps us optimize the usability of the Website, is collected via service provider cookie or log files. We may share aggregated and non-personal information we collect under any of the above circumstances. We may also share it with third parties to assist us in analyzing the aggregate information about the visitors on our site and to assist us to develop and deliver targeted advertising on the Website and on websites of third parties. We may combine non-personal information we collect with additional non-personal information collected from other sources. We also may share aggregated information with third parties, including advisors, advertisers and investors, for the purpose of conducting general business analysis. For example, we may tell our advertisers the number of visitors to the Website. This information does not contain any PII.</p>
                <p><strong><u>COOKIES</u></strong></p>
                <p>We may use cookies to keep track of your shopping cart, customize your future shopping, and to assist your purchasing and use of he Website. Upon your request, we can use cookies to deliver content specific to your interests and to save your password so that you do not have to re-enter it each time you visit the Website.</p>
                <p><strong><u>LINKS</u></strong></p>
                <p>This site contains links to other sites. GameHedge is not responsible for the privacy practices of such websites.</p>
                <p><strong><u>ORDER FORM</u></strong></p>
                <p>This Web site uses an order form for customers to request information, products, and services. We employ other companies and individuals to perform functions on our behalf. Examples include processing credit card payments, fulfilling orders, delivering packages, sending email and postal mail, and analyzing data for the purposes of data scrubbing and marketing assistance. They have access to personal information needed to perform their permitted functions but may not use it for other purposes.</p>
                <p><strong><u>CONTESTS/PROMOTIONS</u></strong></p>
                <p>Occasionally, we run contests and promotions and may ask contestants  for contact information. We use this contact data to send users information regarding the specific contest or promotion. This personal information is also used to contact the customer when necessary.</p>
                <p><strong><u>CHILDREN'S PRIVACY</u></strong></p>
                <p>The Website is a general audience site, and we do not knowingly collect personal information from children under the age of 13.</p>
                <p><strong><u>SECURITY</u></strong></p>
                <p>The security of your personal information is important to us. When you enter sensitive information (such as credit card number) on our registration or order forms, we encrypt that information using secure socket layer technology (SSL).</p>
                <p>We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.</p>
                <p>If you have any questions about security on our Web site, you can CONTACT US.</p>
                <p><strong><u>REGISTRATION</u></strong></p>
                <p>You can browse our site without entering any personal information and, therefore, remain anonymous during your visit. The Website’s optional registration form requires users to give us contact information (such as their name and email address). We use customer contact information from the registration form to send the user relevant newsletters and special offers. This information is also used to contact the customer, if necessary. If you would rather not receive newsletters and/or special offers, please so indicate your preference by marking the appropriate boxes when requested to do so on the Website. Users may opt-out of receiving any communications from GameHedge at any time. Our Opt-Out Policy is below.</p>
                <p><strong><u>OPT-OUT POLICY</u></strong></p>
                <p>If you no longer wish to receive our newsletters and promotional communications, you may opt-out of receiving them by following the instructions included in each newsletter or by CONTACT US. We also offer an opportunity to opt-out of certain communications in our member information area or you may contact us at the contact information listed at the bottom of this policy. You are not able to opt-out of emails related to a specific order (confirmation emails).</p>
                <p><strong><u>ACCESS TO PERSONALLY IDENTIFIABLE INFORMATION</u></strong></p>
                <p>If your personally identifiable information changes, you may correct or update it by making the change(s) by CONTACT US.</p>
                <p><strong><u>YOUR CALIFORNIA PRIVACY RIGHTS</u></strong></p>
                <p>If you are a resident of California, in addition to the rights set forth above, you have the right to request information from us regarding the manner in which we share certain categories of personal information with third parties for their direct marketing purposes. California law gives you the right to send us a request at a designated address to receive the following information:</p>
                <ul>
                    <li>the categories of information we disclosed to third parties for their direct marketing purposes during the preceding calendar year;</li>
                    <li>the names and addresses of the third parties that received that information; and</li>
                    <li>if the nature of the third party's business cannot be determined from their name, examples of the products or services marketed. We may provide this information in a standardized format that is not specific to you. You may make this request by CONTACT US.</li>
                </ul>
                <p><strong><u>CHANGES TO THIS PRIVACY POLICY</u></strong></p>
                <p>We will occasionally update this privacy policy to reflect changes in our practices and services. When we post changes to this privacy policy, we will revise the "last updated" date at the top of this privacy policy. If we make any material changes in the way we collect, use, and/or share your personal information, we will notify you by sending an email to the email address you most recently provided us in your account, profile or registration (unless we do not have such an email address) and/or by prominently posting notice of the changes on the Website. We recommend that you check the Website from time to time to inform yourself of any changes in this privacy policy or any of our other policies.</p>
                <p><strong><u>CONTACT US</u></strong></p>
                <p>If you have any questions about this privacy policy or the security practices of this site, please contact us. Our contact information is set forth in the beginning of this privacy policy.</p>
            </section>
        </div>
    </main>
</section>