<section id="home">
    <section id="hero">
        <div id="shader"></div>
        <div id="wrapper">
          <div id="content">
            <div class="container">
              <p class="hidden-md hidden-lg hidden-xl">Every Ticket Comes With Our Good Game Guarantee!</p>
              <div id="hero-search">
                <form id="form-home-search" name="formSearch" onsubmit="function(){return false;};">
                  <input type="hidden" name="type" value="full" />
                  <div class="form-group">
                    <img src="/assets/search icon-ddc57ae24d1e0b6ebb55f1742da8cca2a6b75cfc1339e507c71d46c821390c82.png" ng-click="goToSearch()">
                    <input id="search_element" type="text" class="form-control" placeholder="Search by team, league, game, stadium or player..." ng-model="searchTerm" uib-typeahead="hint as hint.name for hint in getSearchHints($viewValue)" typeahead-template-url="typeahead/bind-node.html" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" typeahead-on-select="onSelect($item, $model, $label)" typeahead-no-results="noResults">
                     <div class="no-results" ng-show="noResults && searchTerm != ''">
                      No results. Please try again
                    </div>
                  </div>
                </form>
              </div>
              
            </div>
            <div class="press-images hidden-xs hidden-sm">
              <div class="container">
                <div class="spacing-div">AS FEATURED IN</div>
                <div class="spacing-div"><img src="/assets/press2/CNBC copy-fdb267aa4588c98a366e9d0afdef0302f0a98668135fac84e3ef06d35299dc88.png"></div>
                <div class="spacing-div"><img src="/assets/press2/USA Today copy-474cc69f1ed05583320007bcafaf7008ee68c472237462fc4717e0e7bc5b5ed6.png"></div>
                <div class="spacing-div"><img src="/assets/press2/Sports Illustrated Red-edc91d6b8d994df6ccb1e356910ff05576abe1eefc7f4abc8d72d179d7ac14b1.png"></div>
                <div class="spacing-div"><img src="/assets/press2/Yahoo Finance-d458f43938d57599491d23cf4bf31ae36cc034756bad2f485b2b08825292fc59.png"></div>
                <div class="spacing-div"><img src="/assets/press2/ESPN Radio copy-0a5f89dc91d4e272652ec987df0ecab5b0db6a93e2bbf88fb36076a7d9efbd4d.png"></div>
              </div>
            </div>
          </div>
        </div>
    </section>
    
    <main id="page_container">
        <section id="good-game-guarantee" class="hidden-xs hidden-sm">
          <div class="container">
           


<div class="top-banner">
      <div class="ggg-blogo"><span>Good Game Guarantee</span></div>
      <div class="logo-left">
        <div class="b-title"><span class="b-perc">50%</span> Refund</div>
        <div class="b-sub"><span>If <b>either team</b> loses by </span><b>28 points</b> or more</div>
      </div>
      <div class="logo-right">
        <div class="b-sm-left">
              <img src="/assets/icon coin-a40eea64c1a1891b66756011ec48e43d67950c96647117597546d112983d9af7.png">
        </div>
        <div class="b-sm-right">
          <div class="hl-text">Buy Tickets</div>
          <div class="hl-text">Claim Money</div>
          <div>No gimmicks</div>
          <div>No catches</div>
          <div id='ggg_explanation' style="line-height: 13px; font-size: 11px; color: #226ea5;">More <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>


                  <div class="ggg-tooltip" style="display: none;" id="ggg-tooltip">
										<ul class="qtip_ul1">
										<li>Buy your tickets</li>
										<li>If <b>either team</b> loses by</li>
											<ul class="qtip_ul2">
												<li>28 points or more</li>
											</ul>
                    <li>Click on Claim Refund</li>  
										<li>We will refund to your credit card in 3-4 days</li>

										</ul>
									</div>
	                <script>
									jQuery( document ).ready(function() {
										
    									jQuery("#ggg_explanation").qtip({											
         									hide: {												 
             								    fixed: true,
                								delay: 300
            								},
											
										      position: {
        									  	my: 'right center', 
        										  at: 'left center', 
        										  target: jQuery('#ggg_explanation')
    										  },	
											    style: {
     										     classes: 'qtip-light qtip-shadow qtip-checkout'
    										  },										
        									content: {
											      	title: 'How Good Game Guarantee works',
            									text: jQuery("#ggg-tooltip")
        									},
    											events: {
       										   show: function(event, api) {
            										mixpanel.track("GGG Tooltip Pops");
        										}
    	  									}

    									
										});
										
									})
									</script>

        </div>
        <div class="sep"></div>        
      </div>
      <div class="sep"></div>



          </div>
        </section>
<center>        
<h2>Super Bowl</h2>
<br/>

</center>

        
        <div id="how-works-bottom" class="container">
            
            <hr>
            
            <div class="guarantee row">
                <div class="col-sm-2 col-xs-3 how-works-mobile"><img width="100%" src="/assets/badge-gamehedge-c6f8f51039f93f77379348b708f4f6cc8b087a2556df007b205cd85c4953a04e.png" /></div>
                <div class="col-sm-10 col-xs-9">
                    <h2>Good Game Guarantee&trade;</h2>
                    <p>All GameHedge tickets come with our exclusive Good Game Guarantee at no additional cost to you. So, if the home team loses by 5 runs or more, we will refund 50% of the ticket price. No gimmicks. No catches.</p>
                </div>
            </div>
        </div>
        
    </main>
</section>