<section id="home">
<div class="nl-top-bg" style="background-image: URL(/assets/green_background-7f59e17363a6062d461c61cc7a501a050db1a1f76cb06ff5ab5dcf728f4d44ab.png);">
  <div class="container nl-container">

    <section id="hero">
        <div id="shader"></div>
        <div id="wrapper">
          <div id="content">
            <div class="container">
              <p class="hidden-md hidden-lg hidden-xl">Every Ticket Comes With Our Good Game Guarantee!</p>
              <div id="hero-search">
                <form id="form-home-search" name="formSearch" onsubmit="function(){return false;};">
                  <input type="hidden" name="type" value="full" />
                  <div class="form-group">
                    <img src="/assets/search icon-ddc57ae24d1e0b6ebb55f1742da8cca2a6b75cfc1339e507c71d46c821390c82.png" ng-click="goToSearch()">
                    <input id="search_element" type="text" class="form-control" placeholder="Search by team, league, game, stadium or player..." ng-model="searchTerm" uib-typeahead="hint as hint.name for hint in getSearchHints($viewValue)" typeahead-template-url="typeahead/bind-node.html" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" typeahead-on-select="onSelect($item, $model, $label)" typeahead-no-results="noResults">
                     <div class="no-results" ng-show="noResults && searchTerm != ''">
                      No results. Please try again
                    </div>
                  </div>
                </form>
              </div>
              
            </div>
            <!--
            <div class="press-images hidden-xs hidden-sm">
              <div class="container">
                <div class="spacing-div">AS FEATURED IN</div>
                <div class="spacing-div"><img src="/assets/press2/CNBC copy-fdb267aa4588c98a366e9d0afdef0302f0a98668135fac84e3ef06d35299dc88.png"></div>
                <div class="spacing-div"><img src="/assets/press2/USA Today copy-474cc69f1ed05583320007bcafaf7008ee68c472237462fc4717e0e7bc5b5ed6.png"></div>
                <div class="spacing-div"><img src="/assets/press2/Sports Illustrated Red-edc91d6b8d994df6ccb1e356910ff05576abe1eefc7f4abc8d72d179d7ac14b1.png"></div>
                <div class="spacing-div"><img src="/assets/press2/Yahoo Finance-d458f43938d57599491d23cf4bf31ae36cc034756bad2f485b2b08825292fc59.png"></div>
                <div class="spacing-div"><img src="/assets/press2/ESPN Radio copy-0a5f89dc91d4e272652ec987df0ecab5b0db6a93e2bbf88fb36076a7d9efbd4d.png"></div>
              </div>
            </div>
            -->
          </div>
        </div>
    </section>
</div>
</div>    
    
    <main id="page_container">
  <div class="nl-featured-in hidden-xs hidden-sm" id="good-game-guarantee">
  <div class="container" style="margin-top: 0px;">
    <center>
      <img src="/assets/featured_logos-cd6431176f2cd8d32fc39822a87decb7760a536b82d2dbae9bf65ad8ca3e56e9.png">
    </center>    
  </div>
  </div>


        <section id="good-game-guarantee" class="hidden-xs hidden-sm">
          <div class="container">
           
<div class="top-banner top-banner-homepage">
      <div class="ggg-blogo"><span>Good Game Guarantee</span></div>
      <div class="logo-left">
        <div class="b-title"><span class="b-perc">50%</span> Refund</div>
        <div class="b-sub"><span>If <b class="ht">home team</b> loses by </span>
          <b><img class="icon-img" src="/assets/football icon-9a7d20380f240bd4ab7c5f211260dfe2de8ad1fa737653dc6ea44b6e55c6b7d2.png"> 17 points</b>
          <b><img class="icon-img" src="/assets/basketball icon-cdaf5028d46f84e9e9159e1eeb0b151eb7d2ec8e13fb8c00456084fb4e4e71f4.png"> 20 points</b>
          <b><img class="icon-img" src="/assets/baseball icon-836e64be846b054a8d6890a6af14ae0d63654eb2ed3b45723e9ae2241f802c12.png"> 5 runs</b>
          <b><img class="icon-img" src="/assets/hockey icon-66b08d4368d6695e3871796d8aa5978d88f5efd669c056d01f8bbe0a170b4d3d.png"> 4 goals</b>
           or more
        </div>
      </div>
      <div class="logo-right">
        <div class="b-sm-left">
              <img src="/assets/icon coin-a40eea64c1a1891b66756011ec48e43d67950c96647117597546d112983d9af7.png">
        </div>
        <div class="b-sm-right">
          <div class="hl-text">Buy Tickets</div>
          <div class="hl-text">Claim Money</div>
          <div>No gimmicks</div>
          <div>No catches</div>
          <div id='ggg_explanation' style="line-height: 13px; font-size: 11px; color: #226ea5;">More <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>


                  <div class="ggg-tooltip ggg-tooltip-hp" style="display: none;" id="ggg-tooltip">
										<ul class="qtip_ul1">
										<li>Buy your tickets</li>
										<li>If <b>Home Team</b> loses by</li>
											<ul class="qtip_ul2">
    					          <li><img class="icon-img" src="/assets/football icon-9a7d20380f240bd4ab7c5f211260dfe2de8ad1fa737653dc6ea44b6e55c6b7d2.png"> 17 points</li>
                        <li><img class="icon-img" src="/assets/basketball icon-cdaf5028d46f84e9e9159e1eeb0b151eb7d2ec8e13fb8c00456084fb4e4e71f4.png"> 20 points</li>
                        <li><img class="icon-img" src="/assets/baseball icon-836e64be846b054a8d6890a6af14ae0d63654eb2ed3b45723e9ae2241f802c12.png"> 5 runs</li>
                        <li><img class="icon-img" src="/assets/hockey icon-66b08d4368d6695e3871796d8aa5978d88f5efd669c056d01f8bbe0a170b4d3d.png"> 4 goals</li>
                        or more

											</ul>
                    <li>Click on Claim Refund</li>  
										<li>We will refund to your credit card in 3-4 days</li>

										</ul>
                    <!--
                    <a href="/how-it-works" target='_blank' style="font-size: 11px;">Read more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    -->
									</div>
	                <script>
									jQuery( document ).ready(function() {
										
    									jQuery("#ggg_explanation").qtip({											
         									hide: {												 
             								    fixed: true,
                								delay: 300
            								},
											
										      position: {
        									  	my: 'right center', 
        										  at: 'left center', 
        										  target: jQuery('#ggg_explanation')
    										  },	
											    style: {
     										     classes: 'qtip-light qtip-shadow qtip-checkout'
    										  },										
        									content: {
											      	title: 'How Good Game Guarantee works',
            									text: jQuery("#ggg-tooltip")
        									},
    											events: {
       										   show: function(event, api) {
            										mixpanel.track("GGG Tooltip Pops");
        										}
    	  									}

    									
										});
										
									})
									</script>

        </div>
        <div class="sep"></div>        
      </div>
      <div class="sep"></div>
      </div>
          </div>
        </section>
<center>        
<h2>TESTIMONIALS & RECENT REFUNDS</h2>
<br/>
<div style="width: 80%;">
<div class="half-left2">

<div class="testimonial">
<p>"Amazing! I used it! Got my money back! "</p>
<span>M.M., Akron,OH</span>
</div>


<div class="testimonial">
<p>"It increases the chances that you'll be happy after the game.  Either your team won or you get half your money back."</p>
<span>M.S., Fleetwood,NY</span>
</div>


<div class="testimonial">
<p>"As far as purchasing tickets, it was no different than other third party ticket sites, which is good. During the baseball game, I found it was MUCH more entertaining. In my instance, I had no rooting interest in the outcome other than the run margin that could give me 50% of my money back, so it was nice to have that rooting interest."</p>
<span>D.D.,	Lansing,IL</span>
</div>

<div class="testimonial">
<p>"Refund of a portion if our home team is terrific.  Takes the sting out of spending a lot on tickets"</p>
<span>K.C., Lafayette,CA</span>
</div>

<div class="testimonial">
<p>"It was awesome. In my market it's the only way to go"</p>
<span>S.B., Phoenix,AZ</span>
</div>

<div class="testimonial">
<p>"Helps me know that a complete blowout will be a little easier to accept. "</p>
<span>E.T., Borger,TX</span>
</div>


<div class="testimonial">
<p>"Makes purchasing more likely knowing about the guarantee. "</p>
<span>A.A., ATL,GA</span>
</div>

<div class="testimonial">
<p>"I enjoyed the game even though I didn't have a rooting interest in the teams, it was fun to add a different wrinkle"</p>
<span>J.L., Richmond,VA</span>
</div>


<div class="testimonial">
<p>"A fun consolation prize for seeing your team get creamed!"</p>
<span>G.P., Gambrills,MD</span>
</div>

<div class="testimonial">
<p>"A guarantee that you will enjoy your game or half your money back. "</p>
<span>M.T., Lilydale,MN</span>
</div>

</div>
<div class="half-right2">
          <h2 class='subheader1m' style="font-size: 18px; margin-top: 0px;"><span>RECENT</span> REFUNDS</h2>  

<div class="refund-box">
              <div class="rfnd-team2 hlsize">
                <div class="rfnd-name" style="padding-left: 20px;">M. F.</div>
                <div class="rfnd-score hl-green">$31</div>
                <div class="sep"></div>
              </div>

              <div class="rfnd-team1">
                <div class="rfnd-name">Golden State Warriors</div>
                <div class="rfnd-score">120</div>
                <div class="sep"></div>
              </div>
              <div class="rfnd-team2">
                <div class="rfnd-name"><i class="fa fa-check" aria-hidden="true"></i>Indiana Pacers</div>
                <div class="rfnd-score">83</div>
                <div class="sep"></div>
              </div>

            </div>


            <div class="refund-box" >
              <div class="rfnd-team2 hlsize">
                <div class="rfnd-name" style="padding-left: 20px;">J. F., Fort Wayne, IN</div>
                <div class="rfnd-score hl-green">$869</div>
                <div class="sep"></div>
              </div>

              <div class="rfnd-team1">
                <div class="rfnd-name">Pittsburgh Steelers</div>
                <div class="rfnd-score">28</div>
                <div class="sep"></div>
              </div>
              <div class="rfnd-team2">
                <div class="rfnd-name"><i class="fa fa-check" aria-hidden="true"></i>Indianapolis Colts</div>
                <div class="rfnd-score">7</div>
                <div class="sep"></div>
              </div>              
            </div>


            <div class="refund-box">
              <div class="rfnd-team2 hlsize">
                <div class="rfnd-name" style="padding-left: 20px;">K. C., Warren, OH</div>
                <div class="rfnd-score hl-green">$221</div>
                <div class="sep"></div>
              </div>

              <div class="rfnd-team1">
                <div class="rfnd-name">Dallas Cowboys</div>
                <div class="rfnd-score">35</div>
                <div class="sep"></div>
              </div>
              <div class="rfnd-team2">
                <div class="rfnd-name"><i class="fa fa-check" aria-hidden="true"></i>Cleveland Browns</div>
                <div class="rfnd-score">10</div>
                <div class="sep"></div>
              </div>              
            </div>


            <div class="refund-box">
              <div class="rfnd-team2 hlsize">
                <div class="rfnd-name" style="padding-left: 20px;">R. P., Ceres, CA </div>
                <div class="rfnd-score hl-green">$32</div>
                <div class="sep"></div>
              </div>

              <div class="rfnd-team1">
                <div class="rfnd-name">Tampa Bay Buccaneers</div>
                <div class="rfnd-score">34</div>
                <div class="sep"></div>
              </div>
              <div class="rfnd-team2">
                <div class="rfnd-name"><i class="fa fa-check" aria-hidden="true"></i>San Francisco 49ers</div>
                <div class="rfnd-score">17</div>
                <div class="sep"></div>
              </div>              
            </div>


            <div class="refund-box" style="border-bottom: 0px;">
              <div class="rfnd-team2 hlsize">
                <div class="rfnd-name" style="padding-left: 20px;">M.M., Akron, OH </div>
                <div class="rfnd-score hl-green">$527</div>
                <div class="sep"></div>
              </div>

              <div class="rfnd-team1">
                <div class="rfnd-name">Chicago Cubs</div>
                <div class="rfnd-score">9</div>
                <div class="sep"></div>
              </div>
              <div class="rfnd-team2">
                <div class="rfnd-name"><i class="fa fa-check" aria-hidden="true"></i>Cleveland Indians</div>
                <div class="rfnd-score">3</div>
                <div class="sep"></div>
              </div>              
            </div>
</div>
<div class="sep"></div>
</div>
</center>

        
        <div id="how-works-bottom" class="container">
            
            <hr>
            
            <div class="guarantee row">
                <div class="col-sm-2 col-xs-3 how-works-mobile"><img width="100%" src="/assets/badge-gamehedge-c6f8f51039f93f77379348b708f4f6cc8b087a2556df007b205cd85c4953a04e.png" /></div>
                <div class="col-sm-10 col-xs-9">
                    <h2>Good Game Guarantee&trade;</h2>
                    <p>All GameHedge tickets come with our exclusive Good Game Guarantee at no additional cost to you. So, if the home team loses by 5 runs or more, we will refund 50% of the ticket price. No gimmicks. No catches.</p>
                </div>
            </div>
        </div>
        
    </main>
</section>