<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
    
  <body>
    <p>Hello GameHedge Customer, Unfortunately the game you attended ended up in a blowout loss. Because you bought tickets from GameHedge you qualify for our Good Game Guarantee refund. Please login and claim your refund <a href="https://www.gamehedge.com/member/login" target="_blank">here</a>. If you have any questions about claiming your money, please do not hesitate to contact us.</p>
  </body>
    
</html>
