<span id="home">
  
  <section id="game_info">
    <div class="row">
      <div class="col-md-3 col-xs-12 ggg-logo vertical-center hidden-xs hidden-sm">
          <img src="<%= image_url "badge-gamehedge.png" %>" alt="GameHedge" />
          Your tickets come with the<br>
          GOOD GAME GUARANTEE!
      </div>
      <div class="col-md-4 col-xs-12 moto vertical-center hidden-xs hidden-sm">
        All GameHedge tickets come with our exclusive Good Game Guarantee at no additional cost to you. So, if the home team loses by 5 runs or more, we will refund 50% of the price of your ticket. No gimmicks. No catches.
      </div>
      <div class="col-md-5 col-xs-12 mobile-event-container" style="height: 100%;">
        <div class="col-md-2 date-holder hidden-xs hidden-sm">
          <p class="date1">{{event.occurs_at | date:'MMM': 'UTC' | uppercase}}</p>
          <p class="date2">{{event.occurs_at | date:'dd' : 'UTC'| uppercase}}</p>
          <p class="date3">{{event.occurs_at | date:'EEE': 'UTC' | uppercase}}</p>  
        </div>
        <div class="col-md-10 col-xs-12 event-info vertical-center mobile-event-info hidden-xs hidden-sm">
          <span class="mobile-event-span">
            <p class="first-line"><a href="{{event.away_performer.url}}">{{event.away_performer.name}}</a><span class="at"> at <br></span><a href="{{event.home_performer.url}}">{{event.home_performer.name}}</a></p>
            <p class="second-line" ng-if="(event.occurs_at | date:'hh:mm:ss' : 'UTC') != (compareDate | date:'hh:mm:ss' : 'UTC')">{{event.occurs_at | date:'hh:mm a' : 'UTC'| uppercase}} at <a href="{{event.venue.url}}">{{event.venue.name}}</a> - {{event.location}}</p>
            <p class="second-line" ng-if="(event.occurs_at | date:'hh:mm:ss' : 'UTC') == (compareDate | date:'hh:mm:ss' : 'UTC')">TBD at <a href="{{event.venue.url}}">{{event.venue.name}}</a> - {{event.location}}</p>
          </span>
        </div>
          
          
        <div class="col-md-10 col-xs-12 event-info vertical-center mobile-event-info hidden-md hidden-lg hidden-xl">
          <span class="mobile-event-span">
            <p class="first-line"><a href="{{event.away_performer.url}}">{{event.away_performer.name}}</a><span class="at"> at </span><a href="{{event.home_performer.url}}">{{event.home_performer.name}}</a></p>
            <p class="second-line capitalize" ng-if="(event.occurs_at | date:'hh:mm:ss' : 'UTC') != (compareDate | date:'hh:mm:ss' : 'UTC')">{{event.occurs_at | date:'EEE, MMM dd hh:mm a' : 'UTC'}} at <a href="{{event.venue.url}}">{{event.venue.name}}</a></p>
            <p class="second-line capitalize" ng-if="(event.occurs_at | date:'hh:mm:ss' : 'UTC') == (compareDate | date:'hh:mm:ss' : 'UTC')">{{event.occurs_at | date:'EEE, MMM dd' : 'UTC'}} TBD at <a href="{{event.venue.url}}">{{event.venue.name}}</a></p>
          </span>
        </div>  
          
      </div>
    </div>
  </section>
    
  <div id="filters_mobile" ng-if="filter_active" class="zipper">
    <div class="close_mobile_x" ng-click="closeFilter()">
        <img width="15px" src="<%= image_url 'close-menu-black.png' %>">
    </div>
    
    <div class="filters-mobile">
        <div class="col-xs-12 text-center filter-title">
            HOW MANY TICKETS?
        </div>
        <div class="col-xs-12 filter-row filter-buttons text-center">  
            <button ng-class="{'active': mob_index == 0}" ng-click="updateMobFilter(0)">Any</button>
            <button ng-class="{'active': mob_index == 1}" ng-click="updateMobFilter(1)">1</button>
            <button ng-class="{'active': mob_index == 2}" ng-click="updateMobFilter(2)">2</button>
            <button ng-class="{'active': mob_index == 3}" ng-click="updateMobFilter(3)">3</button>
            <button ng-class="{'active': mob_index == 4}" ng-click="updateMobFilter(4)">4</button>
            <button ng-class="{'active': mob_index == 5}" ng-click="updateMobFilter(5)">5+</button>
        </div>
        <div class="col-xs-12 filter-divisor">
            <hr>
        </div>
        
        <div class="col-xs-12 text-center filter-title">
            SHOW
        </div>
        
        <div class="col-xs-12 filter-row text-center">
            <button ng-class="{'active': mob_eticket == true}" ng-click="updateMobEticket()">Etickets Only</button>
            <button ng-class="{'active': mob_delivery == 0}" ng-click="updateMobDelivery(0)">Tickets Only</button>
            <button ng-class="{'active': mob_delivery == 1}" ng-click="updateMobDelivery(1)">Parking Only</button>
        </div>
        
        <div class="show-button" ng-click="showMobFilters()">
            SHOW RESULTS
        </div>

    </div>
    
  </div>
    
  <div id="detail_mobile" ng-if="displayDetail" class="zipper">
    <div class="close_mobile_x" ng-click="closeDetail()">
        <img width="15px" src="<%= image_url 'close-menu-black.png' %>">
    </div>
      
    <div class="detail_title">ORDER DETAILS</div>
    <div ng-if="sectionUrl != ''">
        <img width="100%" ng-src="{{sectionUrl}}">
    </div>
    <div class="row detail-content first-detail">
        <div class="col-xs-7">
            <p class="subtitle">Section</p>
            <p class="content">{{selectedTicket.section}}</p>
        </div>
        <div class="col-xs-5">
            <p class="subtitle">Row</p>
            <p class="content">{{selectedTicket.row}}</p>
        </div>
        <div class="col-xs-12 notes">
            {{selectedTicket.public_notes}}
        </div>
    </div>
    <div class="col-xs-12 filter-divisor">
        <hr>
    </div>
    <div class="row detail-content">
        <div class="col-xs-12 subtitle">
            <strong>DELIVERY {{selectedTicket.format}}</strong>
        </div>
        <div class="col-xs-12 msg" ng-if="selectedTicket.format == 'Eticket'">
            Email Delivery
        </div>
        <div class="col-xs-12 msg" ng-if="selectedTicket.format == 'Physical'">
            Physical Delivery
        </div>
    </div>
    <div class="col-xs-12 filter-divisor">
        <hr>
    </div>
    <div class="row detail-content">
        <div class="col-xs-7">
            <p class="subtitle">Ticket Price</p>
            <p class="content price">{{selectedTicket.retail_price | currency : '$' : 2 }}</p>
            <p class="msg">each</p>
        </div>
        <div class="col-xs-5">
            <p class="subtitle">Number of tickets</p>
            <p class="content">{{selectedTicket.amount}} tickets</p>
        </div>
    </div>
    
    <div class="show-button go-checkout" ng-click="goToCheckout()">
        GO TO CHECKOUT
    </div>
  </div>
    
  <script type="text/ng-template" id="typeahead/bind-node.html">
    <a href="/#{{match.model.url}}" tabindex="-1" ng-bind-html="match.label | uibTypeaheadHighlight:query"></a>
  </script>
  <section id="tickets-map">
    <div class="row">
      <div class="col-md-7">
        <div class="map-container">
          <span class="glyphicon glyphicon-zoom-in hidden-xs hidden-sm" aria-hidden="true" ng-click="zoomIn()"></span>
          <span class="glyphicon glyphicon-zoom-out hidden-xs hidden-sm" aria-hidden="true" ng-click="zoomOut()"></span>
          <div id="MapContainer">
           
          </div>
        </div>
      </div>
      <div class="col-md-5 tickets">
        <div class="filters">
          <div class="col-xs-12 filter-row vertical-center hidden-xs hidden-sm">
            Quantity
            <button ng-class="{'active': index == 0}" ng-click="updateFilter(0)">Any</button>
            <button ng-class="{'active': index == 1}" ng-click="updateFilter(1)">1</button>
            <button ng-class="{'active': index == 2}" ng-click="updateFilter(2)">2</button>
            <button ng-class="{'active': index == 3}" ng-click="updateFilter(3)">3</button>
            <button ng-class="{'active': index == 4}" ng-click="updateFilter(4)">4</button>
            <button ng-class="{'active': index == 5}" ng-click="updateFilter(5)">5+</button>
          </div>
          <div class="col-xs-12 filter-row vertical-center hidden-xs hidden-sm">
            Show
            <button ng-click="updateEtickets()" ng-class="{'active': etickets}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> ETickets Only</button>
            <button ng-click="updateParking(false)" ng-class="{'active': !onlyParking}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Tickets Only</button>
            <button ng-click="updateParking(true)" ng-class="{'active': onlyParking}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Parking Only</button>
           <!--  <button ng-click="updateFilter($event,1)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Parking Only</button> -->
          </div>
          <div class="col-xs-12 section-image hidden-xs hidden-sm" ng-if="sectionUrl != ''">
            <img ng-src="{{sectionUrl}}">
          </div>




          <div class="col-xs-12 filter-header">
            <div class="row full-height">
              <div class="col-xs-1 text-center vertical-center full-height flex-mode" ng-click="openFilter()"><img width="20px" src="<%= image_url 'filter_icon.png' %>" class="hidden-md hidden-lg hidden-xl"></div>
              <div class="col-xs-3 vertical-center horizontal-center sorting full-height" ng-click="updateSort('section')">
                Section <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </div>
              <div class="col-xs-2 vertical-center horizontal-center sorting full-height" ng-click="updateSort('row')">
                Row <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </div>
              <div class="col-xs-2 vertical-center horizontal-center full-height">
                Quantity
              </div>
              <div class="col-xs-4 vertical-center horizontal-center sorting full-height" ng-click="updateSort('retail_price')">
                Price <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </div>
            </div>
          </div>



          <div id="home-loading-data" class="col-xs-12 horizontal-center" ng-if="loading">
            <div class='uil-default-css' style='transform:scale(0.32);'><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div><div style='top:80px;left:93px;width:14px;height:40px;background:#000000;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div></div>
          </div>




          <div class="col-xs-12 tickets-data" ng-if="!loading">
            <div class="row" ng-repeat="ticket in tickets.data | orderBy:ordering | filter: (etickets || '') && {eticket: true} | filter: (physicals || '') && {eticket: false} | filter: (filterBySection || '') && {section: section} | filter: (onlyParking || '') && {type: 'parking'} | filter: (!onlyParking || '') && {type: 'event'} | numberOfSeats:index" emit-last-repeater-element ng-mouseover="higlightSection(ticket.section, true)" ng-mouseleave="higlightSection(ticket.section, false)">
              <!-- <span class="glyphicon glyphicon-info-sign hidden-xs hidden-sm" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="{{ticket.public_notes}}" ng-if="ticket.public_notes"></span> -->
              <div class="hidden-xs hidden-sm col-xs-1 info-ico">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="{{ticket.public_notes}}" ng-if="ticket.public_notes"></span>
              </div>
              <div class="col-xs-4 col-md-3 vertical-center horizontal-center section full-height">
                {{ticket.section}}
              </div>
              <div class="col-xs-2 vertical-center horizontal-center full-height">
                {{ticket.row}}
              </div>
              <div class="col-xs-2 vertical-center horizontal-center full-height custom-select">
                <select ng-model="ticket.amount" ng-value="ticket.amount" ng-options="option for option in ticket.splits | orderBy:'-'">
                  <!--option ng-repeat="o in ticket.splits | orderBy:'-'" value="{{o}}">{{o}}</option-->
                </select>
              </div>
              <div class="col-xs-4 vertical-center horizontal-center buy-btn full-height">
                <span class="buy-btn-span">
                  <button class="hidden-xs hidden-sm" ng-click="redirect(ticket.amount, ticket.id)">${{ticket.retail_price}}/ea</button>
                  <button class="hidden-md hidden-lg hidden-xl" ng-click="showDetail(ticket.amount, ticket)">${{ticket.retail_price}}/ea</button>
                  <p class="format">{{ticket.format}}</p>
                </span>
              </div>
            </div>
          </div>




        </div>
      </div>
    </div>
  </section>
  
</span>