<span id="home">
  <section id="hero" style="background: #373d3f;">
    <div id="shader"></div>
    <div id="wrapper">
      <div id="content">
        <div class="container">
          
      </div>
    </div>
  </section>
  <section id="game_info">
    <div class="row">
      <div class="col-md-4">
        <div class="col-xs-2 date-holder">
          <p class="date1">{{event.occurs_at | date:'MMM': 'UTC' | uppercase}}</p>
          <p class="date2">{{event.occurs_at | date:'dd' : 'UTC'| uppercase}}</p>
          <p class="date3">{{event.occurs_at | date:'EEE': 'UTC' | uppercase}}</p>  
        </div>
        <div class="col-xs-10 event-info">
          <span>
            <p class="first-line"><a href="{{event.away_performer.url}}">{{event.away_performer.name}} </a><span class="at">at</span> <a href="{event.home_performer.url">{{event.home_performer.name}}</a></p>
            <p class="second-line" ng-if="(event.occurs_at | date:'hh:mm:ss' : 'UTC') != (compareDate | date:'hh:mm:ss' : 'UTC')">{{event.occurs_at | date:'hh:mm a' : 'UTC'| uppercase}} at <a href="{{event.venue.url}}">{{event.venue.name}}</a> - {{event.location}}</p>
            <p class="second-line" ng-if="(event.occurs_at | date:'hh:mm:ss' : 'UTC') == (compareDate | date:'hh:mm:ss' : 'UTC')">TBD at <a href="{{event.venue.url}}">{{event.venue.name}}</a> - {{event.location}}</p>
          </span>
        </div>
      </div>
      <div class="col-md-4 moto vertical-center">
        All GameHedge tickets come with our exclusive Good Game Guarantee at no additional cost to you. So, if the home team loses by 5 runs or more, we will refund 50% of the price of your ticket. No gimmicks. No catches.
      </div>
      <div class="col-md-4 ggg-logo vertical-center">
        
          <img src="<%= image_url "badge-gamehedge.png" %>" alt="GameHedge" />
          Your tickets come with the<br>
          GOOD GAME GUARANTEE!
        
      </div>
    </div>
  </section>
  <script type="text/ng-template" id="typeahead/bind-node.html">
    <a href="/#{{match.model.url}}" tabindex="-1" ng-bind-html="match.label | uibTypeaheadHighlight:query"></a>
  </script>
  <section id="tickets-map">
    <div class="row">
      <div class="col-md-8">
        <div class="map-container">
          <div id="MapContainer">
          
          </div>
        </div>
      </div>
      <div class="col-md-4 tickets">
        <div class="filters">
          <div class="col-xs-12 filter-row vertical-center">
            Quantity
            <button class="active" ng-click="updateFilter($event)">Any</button>
            <button ng-click="updateFilter($event)">1</button>
            <button ng-click="updateFilter($event)">2</button>
            <button ng-click="updateFilter($event)">3</button>
            <button ng-click="updateFilter($event)">4</button>
            <button ng-click="updateFilter($event)">5+</button>
          </div>
          <div class="col-xs-12 filter-row vertical-center">
            Show
            <button ng-click="updateEtickets()" ng-class="{'active': etickets}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> ETickets Only</button>
           <!--  <button ng-click="updateFilter($event,1)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Parking Only</button> -->
          </div>
          <div class="col-xs-12 section-image" ng-if="sectionUrl != ''">
            <img ng-src="{{sectionUrl}}">
          </div>
          <div class="col-xs-12 filter-header">
            <div class="row">
              <div class="col-xs-3 vertical-center sorting" ng-click="updateSort('section')">
                Section
              </div>
              <div class="col-xs-2 vertical-center sorting" ng-click="updateSort('row')">
                Row
              </div>
              <div class="col-xs-3 vertical-center">
                Quantity
              </div>
              <div class="col-xs-4 vertical-center sorting" ng-click="updateSort('retail_price')">
                Price
              </div>
            </div>
          </div>
          <div class="col-xs-12 tickets-data">
            <div class="row" ng-repeat="ticket in tickets.data | orderBy:ordering | filter: (etickets || '') && {eticket: true} | filter: (filterBySection || '') && {section: section} | filter: (onlyParking || '') && {type: 'parking'}">
              <div class="col-xs-3 vertical-center">
                {{ticket.section}}
              </div>
              <div class="col-xs-2 vertical-center">
                {{ticket.row}}
              </div>
              <div class="col-xs-3 vertical-center">
                <select>
                  <option ng-repeat="o in ticket.splits" value="{{o}}">{{o}}</option>
                </select>
              </div>
              <div class="col-xs-4 vertical-center">
                <span>
                  <button>${{ticket.retail_price}}/ea</button>
                  <p class="format">{{ticket.format}}</p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</span>