<section id="confirmation">
	<div class="container" style="justify-content: center;display: flex;">
		<div class="row" style="max-width:500px">
			<div class="col-xs-12">
				<h1>LOGIN</h1>
				<div class="outter">
					<div class="inner">
						<div class="row update-password" ng-if="!forgot_password">
							<div class="col-xs-12">
								<input type="email" name="email" placeholder="Email" ng-model="$parent.email">
							</div>
							<div class="col-xs-12">
								<input type="password" name="password" placeholder="Password" ng-model="$parent.password">
							</div>
							<div class="col-xs-12">
								<button ng-click="login()" ladda="logging_in">Login</button>
							</div>
							<div class="forgot" ng-click="forgotPass(true)">Forgot password?</div>
						</div>
						<div class="row update-password" ng-if="forgot_password">
							<div class="col-xs-12">
								<input type="email" name="email" placeholder="Email" ng-model="$parent.email">
							</div>
							<div class="col-xs-12">
								<button ng-click="updatePassword()" ladda="sending_password">Send Password</button>
							</div>
							<div class="forgot" ng-click="forgotPass(false)">Login</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>