<span id="home">
  <section id="hero" style="background: #373d3f;max-height:100px">
    <div id="shader"></div>
    <div id="wrapper">
      <div id="content">
        <div class="container">
          
      </div>
    </div>
  </section>
</span>